:root {
    --placeholder-color: grey;
}

html, body {
    /* https://stackoverflow.com/questions/25887927/bootstrap-some-kind-of-margin-on-mobile-devices-only-right-side */
    overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    var(--placeholder-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    var(--placeholder-color);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    var(--placeholder-color);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    var(--placeholder-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    var(--placeholder-color);
}

::placeholder { /* Most modern browsers support this now. */
    color:    var(--placeholder-color);
}

body {
    padding-top: 65px; 
    /* background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%); */
}
input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    background-image: none;
}
input:focus {
    border: none;
}

.search-input-container:hover {
    opacity: 1;
}
.search-input-container {
    opacity: 0.8;
    border: 2px solid rgba(0, 0, 0, 0.619);
    padding: 8px;
    border-radius: 8px;
}

.search-input-container:focus-within {
    border: 2px solid blue;
}
#search-input {
    min-width: 90%;
}

#weather-card {
    padding: 18px;
    margin: 18px 0;
    border-radius: 18px;
}
#long-timestamp {
    font-size: 22px;
}
#main-temperature-text {
    font-size: 72px;
    font-family: 'M PLUS Code Latin';
    /* font-family: 'Press Start 2P'; */
}
#weather-description {
    font-size: 22px;
}
.t-18 {
    font-size: 18px;
}
#weather-icon {
    width: 120px;
}
#primary-nav {
    background-color: aliceblue;
}

#api-response-card {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 18px;
    margin: 18px 0;
    border: 2px solid grey;
    border-radius: 18px;
}
#api-response {
    font-size: 16px;
    white-space: pre;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.error {
    background-color: red;
    font-size: 18px;
}

#search-result-item {
    padding: 8px 18px;
    align-items: center;
    background-color: #e6e6e6;
}
#search-result-item:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.top-action-btn {
    padding: 12px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.32);
}

.top-action-btn:hover {
    background-color: rgba(188, 187, 187, 0.543);
}

#offline-alert {
    margin-top: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media screen and (max-width: 430px) {
    .nav-padding {
        padding-top: 40px;
    }
}